$primary-color: #04BD9B;
$secondary-color: #505050;
$background-color: #F4F4F4;
$nav-height: clamp(50px, 7%, 100px);
$sidebar-width: clamp(50px, 5%, 100px);
$tabbar-height: clamp(50px, 5%, 100px);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: black;
}

.background {
    background-color: $background-color;
    width: 100%;
    height: 100vh;
}

nav {
    height: $nav-height;
    width: 100%;
    background-color:white;
    box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.account {
    font-weight: 350;
}

.searchbar {
    width: 25%;
    height: 50%;
    border-radius: 500px;
    background-color: $background-color;
    padding: 0 1em;
}

.search {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.search:focus {
    outline: none;
}

.sidebar {
    height: calc(100% - #{$nav-height});
    width: $sidebar-width; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: $nav-height;
    background-color: #505050;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;
    text-align: center;
    font-size: 0.9em;
    color: $background-color;

    .tab-icon {
        margin: 0 auto;
    }
    img {
        width: 50%;
    }
}

.main-container {
    width: calc(100% - #{$sidebar-width});
    position: absolute;
    top: $nav-height;
    left: $sidebar-width;
    padding-bottom: calc(#{$tabbar-height} + 1%);
    background-color: $background-color;
    display: flex;
}

@mixin card {
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

@mixin section-header {
    margin: 1em 0;
    font-size: 2.3em;
}

.filter-container {
    width: 25%;
}

.filter {
    @include card();
    padding: 1em 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    
    h2 {
        @include section-header();
        color: $secondary-color;
    }

    .field {
        display: flex;
        flex-direction: column;
        padding: 0.5em 0;

        label {
            margin: 0.5em 0;
        }

        select {
            font-family: "Roboto";
            background-color: $background-color;
            padding: 1em 0.5em;
            border-radius: 0.5em;
            border: none;
        }
        
        select:focus {
            outline: none;
        }
    }

    button {
        margin: 1em 0;
        background-color: $primary-color;
        border: none;
        border-radius: 0.5em;
        padding: 1em;
        color: white;
        font-family: "roboto";
        font-size: 1.2em;
        font-weight: bolder;
    }
}

.term h2 {
    @include section-header();
    color: $primary-color;
}

.term h4 {
    margin: .3em 0;
}

.main-container-shrinked {
    width: 70%;
}

.center-container {
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 10%;
}

.center-container-shrinked {
    width: 60%;
}

.table-column-names, .course-entry {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.large-cell {
    flex: 1 1 30%;
}

.small-cell {
    flex: .2 10%;
}

.course-entry-container {
    @include card();
    padding: .8em .8em;
    margin: .5em 0;
}

.table-column-names {
    padding: 0 .8em;
}

.details-panel {
    display: none;
    height: calc(100% - #{$nav-height});
    width: calc(30% - #{$sidebar-width});
    background-color: white;
    position: fixed;
    z-index: 1;
    right: 0;
    top: $nav-height;
    overflow-x: hidden;
}

.details-container {
    width: 80%;
    margin: 0 auto;
}

.details-exit {
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
}

.details-container h2 {
    @include section-header();
    color: $secondary-color;
}

@mixin section-subheader {
    font-weight: normal;
    margin: 1em 0;
    font-size: 1.5em;
}

.details-container h3 {
    @include section-subheader();
    color: $secondary-color;
}

.details-course-description {
    color: $secondary-color;
    text-align: justify;
}

.details-scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

.criterion-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: $secondary-color;
    border-radius: 50%;

    p {
        font-size:1.2em;
        color: white;
        font-weight: normal;
    }
}

.score {
    @include score();
}

.total-score {
    @include score();
    background-color: $primary-color;
}

.criterion {
    font-size: .8em;
    text-align: center;
    margin: 1em 0;
    color: $secondary-color;
}

.details-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 80%;
    }
}

.info-card {
    @include card();
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 20%;
    }

    h2 {
        @include section-header();
        margin: 0;
        color: $secondary-color;
    }

    h3 {
        @include section-subheader();
        margin-top: 0;
        color: $secondary-color;
    }
}

.info-table {
    width: 60%;
    td {
        background-color: $background-color;
        border-radius: 0.5em;
        padding: 0.7em;
    }
}

// responsive layout

@media only screen and (max-width: 600px) {
    .remove-on-mobile {
        display: none;
    }

    .sidebar {
        height: $tabbar-height;
        width: 100%; 
        bottom: 0;
        top: auto;

        flex-direction: row;
        justify-content: space-around;
        .tab {
            flex-direction: column;
            justify-content: space-around;
            padding: 0;
            height: 100%;
            .tab-icon {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    width: auto;
                    height: 70%;
                }
            }
            .tab-name {
                display: none;
            }
        }
    }

    .main-container {
        width: 100%;
        left: 0;
        flex-direction: column;
    }

    @mixin section-header-mobile {
        margin: .7em 0;
        font-size: 2.1em;
    }

    .filter-container {
        width: 90%;
        margin: 0 auto;
        .filter {
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            @include section-header-mobile();
        }
    }

    .center-container {
        width: 90%;
    }

    .searchbar {
        display: none;
    }

    .nav-container {
        width: 90%;
    }
    
    .table-column-names, .course-entry {
        font-size: .8em;
    }
    
    .term h2 {
        @include section-header-mobile();
    }

    .details-panel {
        width: 100%;
    }

    .details-container {
        width: 90%;
    }

    .details-container > h2 {
        @include section-header-mobile();
    }

    .info-card {
        margin-left: 0;
        margin-right: 0;

        img {
            width: 40%;
        }
    
        h2 {
            @include section-header-mobile();
            margin: 0;
        }
    
        h3 {
            @include section-subheader();
            margin-top: 0;
        }
        .info-table {
            width: 90%;
        }
    }

}


@media only screen and (min-width: 600px) and (max-width: 800px) {
    .center-container {
        width: 90%;
    }

    .tab {
        flex-direction: column;
        padding: 1.5em 0.2em;
        
        .tab-name {
            display: none;
        }

        img {
            width: 80%;
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
    .center-container {
        width: 80%;
    }

    .tab {
        flex-direction: column;
        padding: 1.5em 0.2em;
        
        .tab-name {
            display: none;
        }

        img {
            width: 80%;
        }
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {

}