* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

nav {
  height: clamp(50px, 7%, 100px);
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.1);
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.account {
  font-weight: 350;
}

.searchbar {
  width: 25%;
  height: 50%;
  border-radius: 500px;
  background-color: #F4F4F4;
  padding: 0 1em;
}

.search {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.search:focus {
  outline: none;
}

.sidebar {
  height: calc(100% - clamp(50px, 7%, 100px));
  width: clamp(50px, 5%, 100px);
  position: fixed;
  z-index: 1;
  left: 0;
  top: clamp(50px, 7%, 100px);
  background-color: #505050;
  overflow-x: hidden;
}

.main-container {
  width: calc(100% - clamp(50px, 5%, 100px));
  position: absolute;
  top: clamp(50px, 7%, 100px);
  left: clamp(50px, 5%, 100px);
  padding-bottom: calc(clamp(50px, 5%, 100px) + 1%);
  background-color: #F4F4F4;
}

.term h2 {
  margin: 1em 0;
  font-size: 2.3em;
  color: #04BD9B;
}

.term h4 {
  margin: .3em 0;
}

.main-container-shrinked {
  width: 55%;
}

.center-container {
  width: 50%;
  position: relative;
  margin: 0 auto;
  top: 10%;
}

.center-container-shrinked {
  width: 80%;
}

.table-column-names, .course-entry {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.large-cell {
  flex: 1 1 30%;
}

.small-cell {
  flex: .2 10%;
}

.course-entry-container {
  border-radius: 0.8em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  background-color: white;
  padding: .8em .8em;
  margin: .5em 0;
}

.table-column-names {
  padding: 0 .8em;
}

.details-panel {
  display: none;
  height: calc(100% - clamp(50px, 7%, 100px));
  width: calc(45% - clamp(50px, 5%, 100px));
  background-color: white;
  position: fixed;
  z-index: 1;
  right: 0;
  top: clamp(50px, 7%, 100px);
  overflow-x: hidden;
}

.details-container {
  width: 80%;
  margin: 0 auto;
}

.details-exit {
  font-size: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
}

.details-container h2 {
  margin: 1em 0;
  font-size: 2.3em;
  color: #505050;
}

.details-container h3 {
  font-weight: normal;
  margin: 1em 0;
  font-size: 1.5em;
  color: #505050;
}

.details-course-description {
  color: #505050;
  text-align: justify;
}

.details-scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

.criterion-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: #505050;
  border-radius: 50%;
}

.score p {
  font-size: 1.2em;
  color: white;
  font-weight: normal;
}

.total-score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: #505050;
  border-radius: 50%;
  background-color: #04BD9B;
}

.total-score p {
  font-size: 1.2em;
  color: white;
  font-weight: normal;
}

.criterion {
  font-size: .8em;
  text-align: center;
  margin: 1em 0;
  color: #505050;
}

.details-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-chart img {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .remove-on-mobile {
    display: none;
  }
  .sidebar {
    height: clamp(50px, 5%, 100px);
    width: 100%;
    bottom: 0;
    top: auto;
  }
  .main-container {
    width: 100%;
    left: 0;
  }
  .center-container {
    width: 90%;
  }
  .searchbar {
    display: none;
  }
  .nav-container {
    width: 90%;
  }
  .table-column-names, .course-entry {
    font-size: .8em;
  }
  .term h2 {
    margin: .7em 0;
    font-size: 2.1em;
  }
  .details-panel {
    width: 100%;
  }
  .details-container {
    width: 90%;
  }
  .details-container > h2 {
    margin: .7em 0;
    font-size: 2.1em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .center-container {
    width: 90%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
  .center-container {
    width: 80%;
  }
}
